.appvide {
    display: flex;
    align-items: center;
    
  }
  
  .appcanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }