@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg-bluuee {
  background-image: linear-gradient(
    to right top,
    #2ecc71,
    #37b2d6,
    #52c4e8,
    #73d2f5,
    #94e1f8,
    #b8e6f9
  );
}

.gradient-bg-yllo {
  background-image: linear-gradient(
    to right top,
    #ead600,
    #ebcf02,
    #ecc905,
    #edc20a,
    #edbc0f,
    #efb308,
    #f1ab04,
    #f3a204,
    #f79501,
    #fa8606,
    #fd7710,
    #ff671a
  );
}
