@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define different gradient classes for each emotion */
/* .gradient-bg-neutral {
  background: linear-gradient(45deg, #e0e0e0, #d0d0d0);
}

.gradient-bg-happy {
  background: linear-gradient(
    45deg,
    #ffd700,
    #ffb300,
    #ff6347,
    #ff4500,
    #ff6b26,
    rgb(255, 224, 47)
  );
}

.gradient-bg-sad {
  background: linear-gradient(45deg, #6487d7, #4b66a8);
}

.gradient-bg-surprised {
  background: linear-gradient(45deg, #2bff92, #2bff64, #60ff26, #b2f070);
} */

/* Add more gradient classes for other emotions as needed */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background-image: linear-gradient(
    to right top,
    #ead600,
    #ebcf02,
    #ecc905,
    #edc20a,
    #edbc0f,
    #efb308,
    #f1ab04,
    #f3a204,
    #f79501,
    #fa8606,
    #fd7710,
    #ff671a
  );
}
